#webMethods Deployer Configurations
#Sat Nov 28 18:04:16 KST 2020
10.2_AgileApps_compatibleVersions=10.10
noDependencyChecks=false
projectLocking=false
solutionDeploymentOrder=Broker,IS,TN,AppPlatform,TaskEngine,MWS,EDA,ProcessModel,Optimize,RULES,EventServer,UniversalMessaging,RULESMWS,AgileApps,MFT,APIGateway,DES
deployScheduledTaskByID=false
stopServices=false
10.1_AgileApps_compatibleVersions=10.9
TN.PartialImplementation.classpath=com.wm.app.tn.acdl.repository.TNPartialComposite
EDA.PartialImplementation.classpath=
acdlSchemaFilePath=.\\packages\\WmDeployer\\config\\ACDL.xsd
IS.PartialImplementation.classpath=com.wm.app.b2b.server.deployer.ISPartialCompositeImpl
disableConcurrentDeploymentForPluginType=MWS
auditLog=
serviceTimeout=3600000
10.0_AgileApps_compatibleVersions=10.8
hideACDL=false
MWS.PartialImplementation.classpath=
clusterServiceInvokeTimeout=50
reloadPackages=false
EventServer.PartialImplementation.classpath=
maxPluginObjects=2500
disablePorts=true
CEP.PartialImplementation.classpath=
stopTriggers=selected
rollbackAutomatic=false
targetServerCacheRefreshTime=300
runtimeBatchSize=10
RULES.PartialImplementation.classpath=
MFT.PartialImplementation.classpath=com.softwareag.mft.acdl.MFTPartialComposite
UniversalMessaging.PartialImplementation.classpath=com.softwareag.num.deployer.impl.NumPartialComposite
APIGateway.PartialImplementation.classpath=com.softwareag.apigateway.deployer.APIGatewayPartialComposite
enableAdapters=false
concurrentDeployment=true
compilePackages=false
stopAdapters=true
disableServices=true
10.5_AgileApps_compatibleVersions=10.12
optimisticNetwork=false
checkpointAutomatic=false
reduceDependencyChecks=false
overwrite=ALWAYS
10.4_AgileApps_compatibleVersions=10.12
largeFileSupport=false
9.12_AgileApps_compatibleVersions=10.7
Broker.PartialImplementation.classpath=com.softwareag.broker.deployer.impl.BrokerPartialComposite
connectionCleanupInterval=10
validISVersions=10.5@SPI_1,10.4@SPI_1,10.3@SPI_1,10.2@SPI_1,10.1@SPI_1,10.0@SPI_1,9.12@SPI_1,9.10@SPI_1,9.9@SPI_1,9.8@SPI_1,9.7@SPI_1,9.6@SPI_1,9.5@SPI_1,9.0@SPI1,8.2@SPI1,8.0@SPI0,7.1@SPI0
BPM.PartialImplementation.classpath=
deployACLMap=true
8.0_compatibleVersions=8.2
10.3_AgileApps_compatibleVersions=10.11
repoBatchSize=1
deployTNRules=MERGE
BAM.PartialImplementation.classpath=
stopListeners=false
